@import "basic.css";
@import "bootstrap.min.css";

.related {
    background-color: #efefef;
    padding: 2px 0px 5px 0px;
}

div.related > ul,
.body {
    max-width: 900px;
    margin: 0px auto;
}

h1 {
    clear: both;
}

.footer {
    clear: both;
    padding: 5px 5px 15px 5px;
    text-align: center;
}

